.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#headerLogo {
  position: fixed;
  width: 5%; 
  transform: translateY(-50%);  
}

body {
  overflow: hidden;
}

#pageContainer {
  position: relative;
  min-height: 100vh;
  overflow: hidden;     
}

#footer {
  box-sizing: border-box;
  background-color: #004286;
  position: fixed;
  bottom: 0;
  min-width: 100%;
  height: 2.5rem;
}

#header {
  background-color: #904286;
}

#links {
  text-align: center;
  color: white;
}

#link {
  color: white;
  text-decoration: none;
}

#link:hover{
  text-decoration: underline;
}

.AppBar {
  display: flex;
  flex-direction: row;
}

.orcidImage{
  width:12px;
  margin-right: 2px;
}

#mainView {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh - (2.5rem + 64px));
  min-height: calc(100vh - (2.5rem + 64px));
  margin-top: 64px;
  margin-bottom: 2.5rem;
}