.password-reset-wrapper {
  min-height: calc(100vh - (5.25rem + 64px));
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  background: radial-gradient(circle at top, rgba(0, 87, 146, 0.2), rgba(255, 255, 255, 0));
}

.password-reset-card {
  width: 100%;
  max-width: 520px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-reset-tabs {
  width: 100%;
  margin-top: 16px;
}

.password-reset-form {
  width: 100%;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
