<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Wie divers ist mein Garten?</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="static/apple-touch-icon.png">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/fontAwesome.css">
    <link rel="stylesheet" href="/static/css/hero-slider.css">
    <link rel="stylesheet" href="/static/css/templatemo-main.css">
    <link rel="stylesheet" href="/static/css/owl-carousel.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <script src="/static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <script>
        function setLang(lang) {
            console.log("set")
            window.localStorage.setItem("language", lang);
            if (lang === "en") {
                window.location.href = "/"
            }
        }</script>
</head>
<!--
Vanilla Template
https://templatemo.com/tm-526-vanilla
-->

<body>


    <header>
        <!-- Animated navbar-->
        <nav class="navbar navbar-expand-md fixed-top navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/view">Beobachte Stationen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="setLang('en')" href="#">English</a>
                    </li>
                    <li class="nav-item"></li>
                    <a class="nav-link" onclick="setLang('de')" href="#"><b>Deutsch</b></a>
                    </li>

                    <!--  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
                    <!--  <li><a href="#"><i class="fa fa-google"></i></a></li>-->
                    <!-- <li><a href="#"><i class="fa fa-dribbble"></i></a></li>-->
                </ul>
                <a style="padding-right: 5px" target="_blank"
                    href="https://www.facebook.com/Wie-divers-ist-mein-Garten-105311925484763"><i
                        class="fa fa-facebook"></i></a>
                <a style="padding-right: 5px" target="_blank" href="https://www.instagram.com/_birdiary_/"><i
                        class="fa fa-instagram"></i></a>
                <a style="padding-right: 5px" target="_blank" href="https://twitter.com/_birdiary_"><i
                        class="fa fa-twitter"></i></a>
            </div>
        </nav>


    </header>

    <div class="fixed-side-navbar">
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="#home"><span>Einführung</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#video"><span>Video</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#services"><span>Projekt</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#workshop"><span>Workshop 1</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#workshop2"><span>Workshop 2</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#our-story"><span>Unsere Geschichte</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#contact-us"><span>Kontakt</span></a></li>
        </ul>
    </div>

    <div class="parallax-content baner-content" id="home">
        <div class="container">
            <div class="first-content">
                <h1>Wie divers ist mein Garten?</h1>
                <div class="primary-button">
                    <a href="#video">Erfahre mehr über das Projekt</a>
                </div>
                <div class="primary-button">
                    <a href="/view">Beobachte Stationen
                    </a>
                </div>
            </div>

        </div>
        <div style="position: absolute; bottom: 0;">Image Credit: WWU – Simon Jöcker</div>
    </div>

    <div class="parallax-content video-content" id="video">
        <div class="container" style="min-width: fit-content;">
            <div class="first-content" style="min-width: fit-content;">
                <iframe id="test" width="560" height="315" src="https://www.youtube.com/embed/RgjZkUdeO5I"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="primary-button" padding-bottom: 5vh>
            <a href="#services">Ich will noch mehr wissen</a>
        </div>
        <div style="position: absolute; bottom: 0;">Image Credit: WWU – Simon Jöcker</div>
    </div>


    <div class="service-content" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="left-text">
                        <h4>Mehr über unser Projekt</h4>
                        <div class="line-dec"></div>
                        <p style="text-align: justify">Durch anthropogenes Handeln sind derzeit mehr Arten vom
                            Aussterben bedroht, als jemals zuvor. Um
                            diese Notlage ins Bewusstsein der Gesellschaft zu rücken, ist die Beteiligung aller
                            Bürger*innen gefragt. Mit
                            einer selbst entwickelten Futterstation für Vögel, bestehend aus verschiedenen Sensoren wie
                            Kamera,
                            Waage und Mikrofon, aber auch Umweltsensoren (z.B. Thermometer), werden Vögel automatisiert
                            gezählt
                            und die entsprechende Art erkannt.
                            In einem Teil der mehr als 13 Millionen deutschen Privatgärten, deren Fläche in etwa der
                            aller deutschen
                            Naturschutzgebiete entspricht, bauen Bürger*innen unsere Station auf. Alle
                            Familienmitglieder werden zu
                            Forscher*innen und untersuchen die Biodiversität direkt vor der Haustür. Neben dem Aufbau
                            der smarten
                            Open Source Station im eigenen Garten können Bürger*innen die in Echtzeit gesammelten Daten
                            auf einer
                            Open Data Plattform auswerten, validieren und vergleichen. Somit haben Bürger*innen im
                            Projekt nicht
                            nur nachgefragt, sondern auch mitgeforscht.
                        </p>
                        <div class="primary-button">
                            <a href="#workshop">Ich will mitmachen</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4>Biodiversitätsmonitoring an heimischen Futterstationen</h4>
                                <div class="line-dec"></div>
                                <p>Mit der Futterstation können Sie die Biodiversität in Ihrem eigenen Garten
                                    erforschen. Die Futterstation zählt und bestimmt die Art besuchender Vögel und nimmt
                                    weitere Umweltdaten auf.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4>Analyse der gesammelten Daten</h4>
                                <div class="line-dec"></div>
                                <p>Unter diesem Link findet ihr eine Website, wo alle gesammelten Daten und Bilder der
                                    Station zu finden sind.</p>
                                <a href="/view"> https://wiediversistmeingarten.org/view</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4>Workshops</h4>
                                <div class="line-dec"></div>
                                <p>Bei von uns veranstalteten Worskhops wir der Umgang mit der Station geübt und die
                                    gesammelten Daten ausgewertet.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4>Selbstbauanleitung</h4>
                                <div class="line-dec"></div>
                                <p>Unter dem folgenden Link findet ihr eine Anleitung, mit der ihr eine der Stationen
                                    selber bauen könnt: <a
                                        href="https://docs.google.com/document/d/1aUBDAAl8RrAqekmtY9fd0eZRtfFVpdbspXzJ32ul654/edit?usp=sharing">Anleitung</a>
                                    <br>
                                    Alle benötigten Materialien sind frei verfügbar und die verwendete Software ist als
                                    Open Source bei <a href="https://github.com/Birdiary/station">GitHub</a> verfügbar.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-content workshop-content" id="workshop">
        <div class="container" style="min-width: fit-content;">
            <h4 style="color: #fff;">Workshop 1</h4>
            <div class="line-dec"></div>
            <div class="workshop-text">
                <p style="text-align: justify">
                    Ende April 2022 fand unser erster Workshop statt, bei dem wir gemeinsam mit einer bunten Truppe von
                    Bürger*innen gemeinsam 21 Stationen zusammengebaut und eingerichtet haben. <br />

                    Gestartet sind wir mit einer Begrüßung im Geo 1 Hörsaal, inklusive einer Vorstellungsrunde mit allen
                    Teilnehmenden und Empfehlungen zum Aufbau der Stationen von Dr. Jens Wöllecke als Vertreter der NABU
                    Naturschutzstation-Münsterland. Danach ging es für Alle mit großem Enthusiasmus an den Zusammenbau
                    der Stationen. Dazu sollten zuerst alle Holzteile mithilfe einer Anleitung verschraubt werden,
                    woraufhin es an die Anbringung der Technik ging. Das alles beinhaltete unter anderem auch das
                    Antackern von Dachpappe zum Wetterschutz, die Fokussierung der Kamera, die Kalibrierung der Waage
                    und die Einrichtung des heimischen WLAN, um die Station zu Hause direkt anzuschließen. <br />

                    In einer wohlverdienten Mittagspause konnten sich alle Teilnehmer mit Suppe stärken. Nach dem
                    Mittagessen ging es dann weiter an vier parallelen Arbeitsplätzen, die Technik einzurichten. Nach
                    kurzen Wartezeiten und der Behebung ein paar kleiner Probleme, konnten dann aber alle die eigene
                    Station erfolgreich zusammenbauen, einrichten und testen. Die meisten der Stationen laufen
                    mittlerweile in den heimischen Gärten oder Balkonen.<br />

                    Viel Spaß beim durchstöbern der Videos der Vögel und aller weiteren aufgenommenen Daten der
                    Stationen: <a
                        href="https://wiediversistmeingarten.org/view/">https://wiediversistmeingarten.org/view/ </a>
                    <br />

                </p>
            </div>
            <div style="padding-bottom:10vh; margin-top: 30px;">
                <div class="primary-button" style="display: inline-block; padding-right: 10px; padding-bottom: 5vh;">
                    <a href="#workshop2">Erfahre etwas über den 2 Workshop</a>
                </div>
            </div>
            <div class="container" style="padding-bottom: 100px;">
                <div class="row align-items-center" style="padding-bottom: 5px;">
                    <div class="col-md-3" style="padding-bottom: 15px;">
                        <img src="/static/img/work_1-min.JPG">
                    </div>
                    <div class="col-md-3" style="padding-bottom: 15px;">
                        <img src="/static/img/work_2-min.JPG">
                    </div>
                    <div class="col-md-3" style="padding-bottom: 15px;">
                        <img src="/static/img/work_3-min.JPG">
                    </div>
                    <div class="col-md-3" style="padding-bottom: 15px;">
                        <img src="/static/img/work_4-min.JPG">
                    </div>
                </div>
                <div class="row align-items-center" style="padding-bottom: 5px;">
                    <div class="col-md-3" style="padding-bottom: 15px;">
                        <img src="/static/img/work_5-min.jpg">
                    </div>
                    <div class="col-md-3" style="padding-bottom: 15px;">
                        <img src="/static/img/work_6-min.jpg">
                    </div>
                    <div class="col-md-3" style="padding-bottom: 15px;">
                        <img src="/static/img/work_7-min.jpg">
                    </div>
                    <div class="col-md-3" style="padding-bottom: 15px;">
                        <img src="/static/img/work_8-min.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-content workshop2-content" id="workshop2">
        <div class="container" style="min-width: fit-content;">
            <h4 style="color: #fff;">Workshop 2</h4>
            <div class="line-dec"></div>
            <div class="workshop-text">
                <p style="text-align: justify">
                    Nach 185 Messtagen haben wir die Bürger*innen mit Stationen erneut zu einem Workshop eingeladen, um
                    uns über die Erfahrungen und Verbesserungsmöglichkeiten mit der smarten Futterstation auszutauschen.
                    Mit ca. 15 Personen haben wir uns im GEO1 Gebäude der Uni Münster getroffen, wo die Stationen damals
                    auch entstanden sind. Angefangen haben wir mit einem kurzen Bericht über den aktuellen Projektstand.
                    Es wurden insgesamt schon über 94.000 Vögel aufgenommen und über 1.200.000 Umweltmessungen
                    durchgeführt. Überrascht hat uns, dass 719 Vögel an einem einzelnen Tag eine Station besucht haben.
                    Da musste die Station schon regelmäßig mit neuem Futter befüllt werden. Nach unserem Bericht,
                    konnten die Bürgerwissenschaftler*innen vorstellen, welche Änderungen sie an der Station vorgenommen
                    haben. Wir waren sehr beeindruckt davon, was alles verbessert wurde: Verschiedene
                    Befestigungsmöglichkeiten, Verbesserung der Futterstange und -ausgabe, Füllstandssensoren, sichere
                    Anbringung der Sensoren und Datenspeicherung bei Internetausfall. Danach gab es noch eine
                    Diskussionsrunde, wo weitere Erfahrungen ausgetauscht und über Verbesserungsmöglichkeiten gesprochen
                    wurde.
                    Nach dem intensiven Austausch ging es dann auch direkt daran, einige Verbesserungsmöglichkeiten in
                    kleinen Gruppen umzusetzen. So wurden defekte Sensoren ausgetauscht, die Sensoren winterfest
                    angebracht oder Plexiglasfenster eingebaut, um den Futterstand zu kontrollieren. In der Zwischenzeit
                    gab es noch eine Mittagspause mit einer stärkenden Suppe.
                    Am Ende des Workshops haben sich nochmal alle für eine Abschlussrunde getroffen, in welcher der
                    Fortschritt vorgestellt wurde und Wünsche sowie Ziele für die Zukunft geäußert wurden. Einer der
                    Wünsche war, die angeregte Diskussion in einem Online-Forum fortzuführen. Wir haben daher einen
                    Discord Server für euch eingerichtet: <a href="https://discord.gg/VBDy7sXgzK">https://discord.gg/VBDy7sXgzK </a> Schaut gerne mal vorbei und
                    scheut euch nicht davor mitzumachen! 

                </p>
            </div>
            <div style="padding-bottom:10vh; margin-top: 30px;">
                <div class="primary-button" style="display: inline-block; padding-right: 10px; padding-bottom: 5vh;">
                    <a href="#our-story">Erfahre unsere Geschichte</a>
                </div>
            </div>
            <div class="container" style="padding-bottom: 100px;">
                <div class="row align-items-center" style="padding-bottom: 5px;">
                    <div class="col-md-3" style="padding-bottom: 15px;">
                        <img src="/static/img/work2_1-min.JPG">
                    </div>
                    <div class="col-md-3" style="padding-bottom: 15px;">
                        <img src="/static/img/work2_2-min.JPG">
                    </div>
                    <div class="col-md-3" style="padding-bottom: 15px;">
                        <img src="/static/img/work2_3-min.JPG">
                    </div>
                    <div class="col-md-3" style="padding-bottom: 15px;">
                        <img src="/static/img/work2_4-min.JPG">
                    </div>
                </div>
                <div class="row align-items-center" style="padding-bottom: 5px;">
                    <div class="col-md-3" style="padding-bottom: 15px;">
                        <img src="/static/img/work2_5-min.JPG">
                    </div>
                    <div class="col-md-3" style="padding-bottom: 15px;">
                        <img src="/static/img/work2_6-min.JPG">
                    </div>
                    <div class="col-md-3" style="padding-bottom: 15px;">
                        <img src="/static/img/work2_7-min.JPG">
                    </div>
                    <div class="col-md-3" style="padding-bottom: 15px;">
                        <img src="/static/img/work2_8-min.JPG">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="tabs-content" id="our-story">
        <div class="container" style="padding-bottom: 100px;">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="wrapper">
                        <section id="first-tab-group" class="tabgroup">
                            <div id="tab1">
                                <img src="/static/img/bild_station (1).jpg" height="400" alt="">
                                <p>Entwicklung einer smarten Kamera, die Vögel zählen und dessen Art bestimmen kann.</p>
                            </div>
                            <div id="tab15">
                                <img src="/static/img/DOC_1.png" height="400" alt="">
                                <p>Forschungsprojekt als EU-Experten im Bereich Artenerkennung mit AI.
                                    Veröffentlichung des Berichtes: Evaluating Image-based Species Recognition Models
                                    suitable for Citizen Science Application to Support European Invasive Alien Species
                                    Policy
                                    <a href="https://doi.org/10.2760/97305"
                                        target="_blank">https://doi.org/10.2760/97305 </a>
                                </p>
                            </div>
                            <div id="tab2">
                                <img src="/static/img/forschungsprojekt.jpeg" height="400" alt="">
                                <p>Förderung "Forschungsprojekt Studierender" zur Entwicklung einer smarten
                                    Multi-Sensoren Futterstation</p>
                            </div>
                            <div style="padding-top: 100px;" id="tab3">
                                <img src="/static/img/CS_Siegel_rgb.png" style="background-color: white;" height="400"
                                    alt="">
                                <p>Gewinn des Citizen Science Wettbewerbs der Stiftung WWU </p>
                            </div>
                            <div id="tab4">
                                <img src="/static/img/bild1.jpg" height="400" alt="">
                                <p>Entwicklung der smarten Futterstation und Durchführung des Citizen Sicence Projekts
                                    "Wie divers ist mein Garten?"</p>
                            </div>
                        </section>
                        <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                            <li><a href="#tab1" class="active">Wintersemester 20/21</a></li>
                            <li><a href="#tab15">Herbst 2021</a></li>
                            <li><a href="#tab2">Winter 2021</a></li>
                            <li><a href="#tab3">April 2022</a></li>
                            <li><a href="#tab4">Herbst 2021 - Jetzt</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="parallax-content contact-content" id="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="service-item">
                        <h4>Kontakt</h4>
                        <div class="line-dec"></div>
                        <p>Für alle Fragen oder Anmerkungen könnt Ihr uns gerne per Telefon: </p>
                        <p>0251 8333166 (Dienstags - Donnerstags, 10:00-12:00 Uhr und 15:00-17:00) </p>
                        </p> oder unter folgender E-Mail erreichen: </p>
                        <a href="mailto:info@wiediversistmeingarten.org">info@wiediversistmeingarten.org</a>
                        <br />
                        <p>oder ihr schreibt direkt einem der Team Mitglieder</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-item">
                        <h4>Tom Niers</h4>
                        <div class="line-dec"></div>
                        <a href="mailto:tom.niers@wwu.de">tom.niers@wwu.de</a>
                        <!--<a href= "mailto:tom.niers@wiediversistmeingarten.org">tom.niers@wiediversistmeingarten.org</a> -->

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-item">
                        <h4>Jan Stenkamp</h4>
                        <div class="line-dec"></div>
                        <a href="mailto:jan.stenkamp@wwu.de">jan.stenkamp@wwu.de</a>
                        <!-- <a href= "mailto:jan.stenkamp@wiediversistmeingarten.org">jan.stenkamp@wiediversistmeingarten.org</a> -->

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-item">
                        <h4>Nick Jakuschona</h4>
                        <div class="line-dec"></div>
                        <a href="mailto:nick.jakuschona@wwu.de">nick.jakuschona@wwu.de</a>
                        <!--<a href= "mailto:nick.jakuschona@wiediversistmeingarten.org">nick.jakuschona@wiediversistmeingarten.org</a> -->

                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Gefördert von: </h3>
                </div>
            </div>
            <div class="row align-items-center" style="padding-bottom: 5px;">
                <div class="col-md-4" style="padding-bottom: 15px;">
                    <a href="https://www.uni-muenster.de/AFO/CS/wettbewerb/cs_wettbewerb.html" target="_blank"> <img
                            src="/static/img/CS_Siegel_rgb.png"> </a>
                </div>
                <div class="col-md-4" style="padding-bottom: 15px;">
                    <a href="https://www.uni-muenster.de/Stiftung-WWU/" target="_blank"> <img
                            src="/static/img/Logo_StiftungWWU_2019_rgb.png"> </a>
                </div>
                <div class="col-md-4" style="padding-bottom: 15px;">
                    <a href="https://www.uni-muenster.de/Safir/" target="_blank"> <img src="/static/img/safir_logo.svg">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Unterstützt von: </h3>
                </div>
            </div>
            <div class="row gx-5 align-items-center" style="padding-bottom: 5px;">
                <div class="col-md-3" style="padding-bottom: 15px;">
                    <a href="https://sensebox.de/" target="_blank"><img style="padding:10px"
                            src="/static/img/sensebox_logo.svg"> </a>
                </div>
                <div class="col-md-3 " style="padding-bottom: 15px;">
                    <a href="https://reedu.de/" target="_blank"><img style="padding:10px"
                            src="/static/img/logo_reedu.png"> </a>
                </div>
                <div class="col-md-3" style="padding-bottom: 15px;">
                    <a href="https://www.uni-muenster.de/Geoinformatics/" target="_blank"><img style="padding:10px"
                            src="/static/img/Logo_ifgi_long.png"> </a>
                </div>
                <div class="col-md-3" style="padding-bottom: 15px;">
                    <a href="https://www.uni-muenster.de/Landschaftsoekologie/" target="_blank"><img
                            style="padding:10px" src="/static/img/logo_iloek.png"> </a>
                </div>
            </div>
            <div class="row gx-5 align-items-center" style="padding-bottom: 5px;">
                <div class="col-md-12">
                    <h3>Kooperationen mit: </h3>
                </div>
            </div>
            <div class="row gx-5 align-items-center" style="padding-bottom: 15px;">
                <div class="col-md-2" style="padding-bottom: 15px;">
                    <a href="https://www.nabu-muensterland.de/" target="_blank"><img style="padding:10px"
                            src="/static/img/Logo_nabu.png">
                </div>
                <div class="col-md-2 " style="padding-bottom: 15px;">
                    <a href="https://bonn.leibniz-lib.de/de/zbm" target="_blank"> <img style="padding:10px"
                            src="/static/img/logo_lib.png">
                </div>
                <div class="col-md-2" style="padding-bottom: 15px;">
                    <a href="https://www.lwl-naturkundemuseum-muenster.de/" target="_blank"> <img style="padding:10px"
                            src="/static/img/logo_lwl.png">
                </div>
                <div class="col-md-2" style="padding-bottom: 15px;">
                    <a href="https://www.allwetterzoo.de/" target="_blank"> <img style="padding:10px"
                            src="/static/img/logo_zoo.png">
                </div>
                <div class="col-md-2" style="padding-bottom: 15px;">
                    <a href="https://www.uni-muenster.de/AFO/" target="_blank"> <img style="padding:10px"
                            src="/static/img/AFO.png">
                </div>
                <div class="col-md-2" style="padding-bottom: 15px;">
                    <a href="https://www.buergerschaffenwissen.de/" target="_blank"> <img style="padding:10px"
                            src="/static/img/BsW_Logo.png" /> </a>
                </div>
            </div>
            <div class="row gx-5 align-items-center" style="padding-bottom: 15px;">
                <div class="col-md-1" style="padding-bottom: 15px;">
                </div>
                <div class="col-md-2" style="padding-bottom: 15px;">
                    <a href="https://www.kreis-steinfurt.de/kv_steinfurt/Kreisportrait/Kreislehrgarten/"
                        target="_blank"> <img style="padding:10px" src="/static/img/Kreislehrgarten_logo.png"> </a>
                </div>
                <div class="col-md-2" style="padding-bottom: 15px;">
                    <a href="https://www.kreis-steinfurt.de/kv_steinfurt/Home/" target="_blank"> <img
                            style="padding:10px" src="/static/img/logo_steinfurth.png"> </a>
                </div>
                <div class="col-md-2" style="padding-bottom: 15px;">
                    <a href="https://www.uni-muenster.de/BotanischerGarten/" target="_blank"> <img style="padding:20px"
                            src="/static/img/logo_botanischer_garten.svg"> </a>
                </div>
                <div class="col-md-2" style="padding-bottom: 15px;">
                    <a href="https://www.uni-muenster.de/Stiftung-WWU/foerderprojekte/citizenscience.html"
                        target="_blank"> <img style="padding:10px" src="/static/img/CS_Logo.jpg"> </a>
                </div>
                <div class="col-md-2" style="padding-bottom: 15px;">
                    <a href="https://www.uni-muenster.de/" target="_blank"> <img style="padding:10px"
                            src="/static/img/WWUMuenster_Logo_2021_rgb.png"> </a>
                </div>
                <div class="col-md-1" style="padding-bottom: 15px;">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="primary-button">
                        <a href="#home">Back To Top</a>
                    </div>
                    <ul>
                        <li><a target="_blank"
                                href="https://www.facebook.com/Wie-divers-ist-mein-Garten-105311925484763"><i
                                    class="fa fa-facebook"></i></a></li>
                        <li><a target="_blank" href="https://www.instagram.com/_birdiary_/"><i
                                    class="fa fa-instagram"></i></a></li>
                        <li><a target="_blank" href="https://twitter.com/_birdiary_"><i class="fa fa-twitter"></i></a>
                        </li>
                        <!--  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
                        <!--  <li><a href="#"><i class="fa fa-google"></i></a></li>-->
                        <!-- <li><a href="#"><i class="fa fa-dribbble"></i></a></li>-->
                    </ul>
                    <p>Copyright &copy; 2022 "Wie divers ist mein Garten?" - Projekt </p>
                    <a href="impressum">Impressum</a>
                </div>
            </div>
        </div>
    </footer>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/main.js"></script>

    <script>
        function openCity(cityName) {
            var i;
            var x = document.getElementsByClassName("city");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            document.getElementById(cityName).style.display = "block";
        }
    </script>

    <script>
        $(document).ready(function () {

            initializeV();
            function initializeV() {
                //note: I can't use window.parent becuase the code snippet loads on a different frame than the parent page. See the other snippet for a practical example. This snippet is meant to merely illustrate the effect.
                //1% of the parent viewport width (same as 1vw):
                var vw = window.innerWidth / 100;
                //1% of the viewport height (same as 1vh):
                var vh = window.innerHeight / 100;

                let width = 70 * vw
                let height = 0.5625 * 70 * vw

                if (height > (80 * vh)) {
                    height = 80 * vh
                }

                //this is where the magic happens. Simply set width/height/whatever to a multiple of vw/vh and add 'px'. Dimensions must be in pixels since the vw/vh measurement is based on pixels.
                document.getElementById('test').width = width + 'px';
                document.getElementById('test').height = height + 'px';
                //assign width and height to your v unit elements here
            }

            $(window).scroll(function () {
                if ($(window).scrollTop() > 56) {
                    $(".navbar").addClass("bg-dark");
                } else {
                    $(".navbar").removeClass("bg-dark");
                }
            });




            window.addEventListener('resize', function () {
                //when the browser window is resized; recalculate
                initializeV();
            });
            // Add smooth scrolling to all links
            $(".fixed-side-navbar a, .primary-button a").on('click', function (event) {

                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function () {

                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                } // End if
            });
        });
    </script>

</body>

</html>